@use "./divers.scss" as *;

#chefs {
    grid-column-start: 3;
    grid-column-end: 11;
    text-align: center;
    h1 {
        height: 120px;
        margin-top: 30px;
        align-content: center;
        font-family: $font-Mont;
        font-weight: $bold;
        font-size: 48px;
        letter-spacing: 0.05em;
        @media (max-width: $breakpoint-tablet) {
            font-size: 30px;
        }
    }
    p {
        font-family: $font-Mont;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.05em;
        margin-bottom: 60px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 15px;
            margin-bottom: 0px;
        }
    }
    @media(max-width: $breakpoint-desktop) {
        grid-column-start: 2;
        grid-column-end: 12;
    }
}

.swiper {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    overflow: hidden;

    .swiper-slide {
        background: #fff;
        border-radius: 20px;
        text-align: center;
        width: auto;
        a {
            text-decoration: none;
            color: #000;
        }
        .chef-img {
            width: 360px;
            height: 360px;
            object-fit: cover;
            border-radius: 20px;
            margin-bottom: 30px;
            @media(max-width: $breakpoint-desktop) {
                width: 190px;
                height: 190px;
            }
        }
        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
        }
        .date {
            color: #ff7f4f;
            font-weight: 600;
            margin-top: 15px;
        }
        @media(max-width: $breakpoint-desktop) {
            width: 80%;
            max-width: unset;
        }
    }
    @media(max-width: $breakpoint-desktop) {
        max-width: 695px;
    }
}
/* Pagination custom */
.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    gap: 10px;
    width: 600px;
    margin: 0 auto 45px auto;
    gap: 30px;
    .circle-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fddfc7;
        cursor: pointer;
        border: none;
        transition: background 0.3s ease;
        flex-shrink: 0;
        &:active {
            transform: scale(0.95);
            background-color: #ff7f4f;
        }
        @media(max-width: $breakpoint-desktop) {
            width: 19px;
            height: 19px;
        }
    }
    .progress-bar {
        height: 5px;
        background-color: #fddfc7;
        flex-grow: 1;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        .progress-fill {
            height: 100%;
            background-color: #ff7f4f;
            width: 0%;
            transition: width 0.3s ease;
        }
    }
    @media(max-width: $breakpoint-desktop) {
        width: 360px;
    }
}


    

    