@use "./divers.scss" as *;

form {
    padding-left: 120px;
}

.formu {
    width: 480px;
    transform: translate(200%, 0);
    opacity: 0;
    animation: centreVersGauche 2s forwards;
    h2 {
        margin-top: 90px;
        font-size: 40px;
        font-family: $font-Mont;
        font-weight: $bold;
        color: $color1;
        @media (max-width: $breakpoint-desktop) {
            text-align: center;
            
        }
    }
    form {
        height: auto;
        @media (max-width: $breakpoint-desktop) {
            margin: 0 auto;
            padding: 0;
        }
    }
    .form-group {
        margin: 4rem 0;

        input,
        textarea {
            width: 100%;
            padding: 0.2rem 0.4rem;
            font-size: 1.2rem;
            border: none;
            border-bottom: 2px solid $color1;
            font-family: $font-Mont;

            &::placeholder {
                color: #582C12;
                opacity: 1;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.06em;
                font-weight: $bold;
            }
        }

        textarea {
            height: 10rem;
            resize: none;
        }
    }
    .btn {
        display: block;
        border: 2px solid $color1;
        background-color: white;
        color: #582C12;
        border-radius: 30px;
        width: 210px;
        height: 60px;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        font-family: $font-Mont;
        cursor: pointer;
        margin: 0 auto;
        line-height: 24px;
        letter-spacing: 0.06em;
        font-weight: $bold;
    }
    .contContact{
        display: flex;
        bottom: 0;
        width: 150px;
        height: 60px;
        border: 1px solid $color1;
        align-items: center;
        margin: 30px 0;
        gap: 15px;
        justify-content: space-around;
        a {
            text-decoration: none;
            img {
                width: 30px;
                height: 30px;
            }
        }
        
    }
    @media (max-width: $breakpoint-desktop) {
        margin: 0 auto;
        transform: translate(0, 0);
    }
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        height: auto;
    }
}
#imgContact, #imgContact2, #imgContact3{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px auto;
    @media (max-width: $breakpoint-desktop) {
        margin: 90px auto;
    }
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        height: 230px;
        margin-bottom: 0;
    }
}
#imgContact{
    background-image: url(../../build/images/contact1.jpg);
        width: 510px;
        height: 570px; 
}
#imgContact2{
    background-image: url(../../build/images/contact2.jpg);
        width: 510px;
        height: 420px; 
}
#imgContact3{
    background-image: url(../../build/images/contact3.jpg);
        width: 510px;
        height: 420px; 
}
@media (max-width: $breakpoint-tablet) {
    #imgContact, #imgContact2, #imgContact3{
        width: 100%;
        height: 230px;
    }

}
@keyframes centreVersGauche {
    0% {
        transform: translate(200%, 0);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translate(10%, 0);
        opacity: 1;
    }
}
