$font-Mont : "Montserrat", sans-serif;
$color1 : #FF9C62;
$color2 : #FAF5E9;
$color3 : #582C12;

/*Taille font Montserrat*/
$bold : 700;
$Extra-bold : 800;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

*{
    margin: 0;
    padding: 0;
}