$font-Mont : "Montserrat", sans-serif;
$font-moch : "Mochiy Pop One", sans-serif;
$font-School : "Schoolbell", sans-serif;
$color1 : #FF9C62;
$color2 : #FAF5E9;
$color3 : #582C12;
$color4 : #822E2E;

/*Taille font Montserrat*/
$bold : 700;
$Extra-bold : 800;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
.slide {
    width: 100%;
    min-height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding: 0 1rem;
    .left {
        grid-column-start: 2;
        grid-column-end: 7;
        position: relative;
    }
    .right {
        grid-column-start: 7;
        grid-column-end: 12;
        position: relative;
    }
    @media (max-width: $breakpoint-desktop) {
        
        .left {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row: 1;
        }
        .right {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row: 2;
        }
    }
}
.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}
.gras {
    font-weight: $bold;
}
.orange {
    color: $color1;
}

footer {
    margin-top: 30px;
    height: 150px;
    background-color: $color2;
    align-content: center;
    p {
        font-family: $font-Mont;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        grid-column: 2/8;
        @media(max-width: $breakpoint-tablet) {
            grid-column: 2/10;
            font-size: 14px;
        }
    }
    .media {
        grid-column: 10/12;
        align-self: center;
        justify-self: end;
        a {
            img {
                width: 25px;
                height: 25px;
                @media (max-width: $breakpoint-mobile) {
                    width: 12.50px;
                    height: 12.50px;
                }
            }
        }
        
    }
}