$font-Mont : "Montserrat", sans-serif;
$font-moch : "Mochiy Pop One", sans-serif;
$color1 : #FF9C62;
$color2 : #FAF5E9;
$color3 : #582C12;
$color4 : #822E2E;

/*Taille font Montserrat*/
$bold : 700;
$Extra-bold : 800;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

*{
    margin: 0;
    padding: 0;
}
.slide {
    width: 100%;
    min-height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .left {
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .right {
        grid-column-start: 7;
        grid-column-end: 12;
    }
    @media (max-width: $breakpoint-desktop) {
        grid-template-rows: repeat(2, 1fr);
        .left {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row: 1;
    }
        .right {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row: 2;
        }
    }
}
footer {
    height: 150px;
    background-color: $color2;
    align-content: center;
    p {
        font-family: $font-Mont;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        grid-column: 2/8;
        @media(max-width: $breakpoint-tablet) {
            grid-column: 2/10;
            font-size: 14px;
        }
    }
}