@use "./divers.scss" as *;

#contGalerie {
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: $color2;
    width: 1200px;
    height: 750px;
    margin: 90px auto 0 auto;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 45px 60px;
    gap: 30px 45px;
    .img1 {
        filter: blur(1px);
        img {
            width: 330px;
            height: 210px;
        }
        &:hover {
            filter: blur(0px);

            img {
                transform: scale(1.2);
            }

        }
    }
    .petit {
        
        align-self: center;
            img {
                height: 180px;
            }
        }
} 