@use "./divers.scss" as *;

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 210px;
    background-color: $color2;
    font-family: $font-Mont;
    position: relative;

    .logo {
        grid-column: 4;
        align-self: start;
        margin-bottom: 30px;
        position: absolute;
        opacity: 0;
        animation: logoApparait 3s ease-in-out forwards;
        img {
        width: 120px;
        height: 120px;

        @media (max-width: $breakpoint-desktop) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: $breakpoint-tablet) {
            width: 80px;
            height: 80px;
        }
        }

        @media (max-width: $breakpoint-desktop) {
        grid-column: 2;
        margin-top: 20px;
        }

        @media (max-width: $breakpoint-tablet) {
        grid-column-start: 2;
        grid-column-end: 4;
        margin-bottom: 36px;
        margin-top: 24px;
        }
    }

    .title {
        grid-column-start: 5;
        grid-column-end: 12;
        margin-top: 30px;
        margin-bottom: 60px;
        font-weight: $Extra-bold;
        color: $color1;
        font-size: 48px;

        @media (max-width: $breakpoint-desktop) {
        grid-column-start: 3;
        grid-column-end: 12;
        text-align: center;
        align-self: center;
        }

        @media (max-width: $breakpoint-tablet) {
        font-size: 24px;
        grid-column-start: 4;
        grid-column-end: 11;
        margin-left: 10px;
        }
    }

    #burger {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
        margin-right: 15px;
        z-index: 1002;

        @media (max-width: $breakpoint-tablet) {
        display: block;
        grid-column-start: 11;
        top: 50px;
        }

        .bar {
        position: absolute;
        
        width: 100%;
        height: 6px;
        background-color: #582C12;
        transition: 0.3s;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 13px;
            }

            &:nth-child(3) {
                top: 26px;
            }
        }

        &.active {
            .bar:nth-child(1) {
                transform: rotate(45deg);
                top: 13px;
            }

            .bar:nth-child(2) {
                opacity: 0;
            }

            .bar:nth-child(3) {
                transform: rotate(-45deg);
                top: 13px;
            }
        }
    }

    nav {
        grid-column: 1 / -1;
        align-items: center;
        align-self: self-end;

        ul {
        list-style: none;
        height: 60px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        li {
            height: 100%;
            position: relative;
            a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: $color3;
            font-weight: $bold;
            font-size: 15px;
            letter-spacing: 0.05em;

            &.active {
                background-color: $color3;
                color: $color2;
            }

            &:hover {
                background-color: $color3;
                color: $color2;
            }
            }

            &:nth-child(1) { grid-column: 4; }
            &:nth-child(2) { grid-column: 5; }
            &:nth-child(3) { grid-column: 6; }
            &:nth-child(4) { grid-column: 7; }
            &:nth-child(5) { grid-column: 8; }
            &:nth-child(6) { grid-column: 9; }

            .sous-menu {
                display: none;
                position: absolute;
                width: 100%;
                background-color: $color2;
                list-style: none;
                z-index: 1200;
                li {
                    width: 100%;
                    a{
                        padding: 10px 20px;
                        color: $color3;
                        text-decoration: none;
                        font-size: 14px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            background-color: $color3;
                            color: $color2;
                        }
                    }
                }
            }
            &:hover .sous-menu  {
                display: block;
            }

            @media (max-width: $breakpoint-desktop) {
            &:nth-child(1) { grid-column: 1; }
            &:nth-child(2) { grid-column: 2; }
            &:nth-child(3) { grid-column: 3; }
            &:nth-child(4) { grid-column: 4; }
            &:nth-child(5) { grid-column: 5; }
            &:nth-child(6) { grid-column: 6; }
            }

        }

        @media (max-width: $breakpoint-desktop) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media (max-width: $breakpoint-tablet) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100vw;
            background: $color2;
            z-index: 1001;

            &.open {
                display: flex;
            }

            li {
                width: 100%;

                a {
                    justify-content: flex-start;
                    padding:16px 30px;
                    font-size: 15px;
                    background-color: $color2;
                    height: auto;
                }
            }
        }
        }
    }

    @media (max-width: $breakpoint-tablet) {
        height: 150px;
    }
}

@keyframes logoApparait {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}